extends /layout/_default-layout

prepend config-block
    - page_name = 'user'
    - page_id = 'user'

//- append stylesheet-block

//- append javascript-block

block content-block
    h1 User Data from DB
    h2 about
    p display user data from database.
    p if you login, you can edit your data.

    hr
    .js-isUser.hidden
        p.js-name
        p.js-desc
        img.js-photo(style="width: 100px;")
            
        hr
        h2 Only OGP data page sharing.
        p you can share this page with inidividual ogp data by bottom buttons.
        ul
            li: a.js-share(class="btn" href="#" data-type="facebook") facebook share
            li: a.js-share(class="btn" href="#" data-type="twitter") twitter share
    .js-isNotUser.hidden
        p wrong user id at URL parameters.
        p please go to correct URL or login from 
            a(href="../login/") here
            | .
        
    hr
    ul.js-isLogin.hidden
        li: a(data-toggle="modal" data-target="#editModal" href="#editModal") Your User Data Edit
        li: a.js-logoutBtn(href="#") Logout
        
    ul.js-isNotLogin.hidden
        p if you wanna edit your profie, after login from 
            a(href="../login/") here
            | .
        
    .modal.fade#editModal(aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title edit your data
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true").
                            &times
                .modal-body
                    label
                        | name: 
                        input.js-nameinput(type="text" value="")
                    label
                        | description: 
                        input.js-descinput(type="text" value="")
                .modal-footer
                    button.js-submit(type="button" class="btn btn-primary" data-dismiss="modal") Save changes
