extends /layout/_default-layout

prepend config-block
    - page_name = 'top page'
    - page_id = 'root'

//- append stylesheet-block

//- append javascript-block

block content-block
    h1 Firebase Samples on Website
    ul
        li: a(href="/login") OAuth Login Samples
        li: a(href="/user") User Data from DB
