extends /layout/_default-layout

prepend config-block
    - page_name = 'login'
    - page_id = 'login'

//- append stylesheet-block

//- append javascript-block

block content-block
    h1 OAuth Login Samples
    h2 about
    p you can login with any sns account through firebase.
    p save for database your name and photoURL after login.
    p arrow same E-mail address any account.

    hr
    .js-loginParts.hidden
        ul
            li: a.js-loginBtn(data-type="facebook" href="#") Facebook login
            li: a.js-loginBtn(data-type="twitter" href="#") Twitter login
            li: a.js-loginBtn(data-type="google" href="#") Google login
            li: a.js-loginBtn(data-type="github" href="#") Github login
        .form-check
            label.form-check-label
                input.js-popup.form-check-input(type="checkbox" value="")
                | with popup (only pc).
    a.js-logoutBtn.hidden(href="#") Logout

    hr
    h2 information of login account
    p.js-userInfo not login yet
