footer
  hr
  p
    | created by 
    a(href="https://github.com/nabettu/" target="_blank") tatsuaki watanabe
    | .
  p
    | repository is 
    a(href="https://github.com/nabettu/firebase_samples") here
    | .
  - if(page_id != 'root')
    p: a(href="/") back to top.
